*{
    margin:0px;
    padding:0px;

}
body{
    /*background-image: url('/images/bgimage.jpg');
background-size: cover;*/
}
.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid white;

}
.nav-link a:hover{
    background-color: rgb(38, 67, 230);
    color:rgb(252, 238, 238) !important;
    transition: :5s;

}
#logo{
    margin-left:100px;
}
.container-home{
    margin-top: 100px;
    background-color: #989da083;
    padding-bottom:50px;

}
.textall{
    padding-top:80px;
}
.text{
    list-style-type: square;
}
.login .form{
    background-color: beige;
    border:1px solid rgb(248, 242, 242);
    width:400px;
    margin-left:60%;
    margin-top:10%;
}
#login{
    width:100%;
}
.form h3{
    text-align: center;
}
.carousel-item img{
    height:500px;
    position: relative;
  text-align: center;
  color: white;
}

.card-body{
    background-color: rgb(245, 240, 240);
    border:1 px black;
    padding-left: 50px;
}
.card{
    width:200px;
    position:relative;
}
/*Login Page Style*/
.login{
    background-image: url(/bg.jpg);
    background-size: cover;
    
    }
    .login-form {
        
		width: 385px;
		margin: 30px auto;
	}
    .login-form form {        
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .login-btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .input-group-addon .fa {
        font-size: 18px;
    }
    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }
	.social-btn .btn {
		border: none;
        margin: 10px 3px 0;
        opacity: 1;
	}
    .social-btn .btn:hover {
        opacity: 0.9;
    }
	.social-btn .btn-primary {
        background: #507cc0;
    }
	.social-btn .btn-info {
		background: #64ccf1;
	}
	.social-btn .btn-danger {
		background: #df4930;
	}
    .or-seperator {
        margin-top: 20px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }   
/*sign up*/
.signup {
    color: rgb(2, 0, 0);
    background-image:url(/sign.jpg);
    font-family: 'Roboto', sans-serif;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}	
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}
.signup-form input[type="checkbox"] {
    margin-top: 2px;
}   
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border: none;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #179b81;
    outline: none;
}
.signup-form a {
    color: rgb(15, 0, 0);	
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #19aa8d;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 21px;
}
.signup-form .fa-paper-plane {
    font-size: 18px;
}
.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}
/*Kerala*/
.centered {
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .centered p {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    text-transform: uppercase;
    font-size: 3em;
    font-style:bold;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  /*Contact Page*/
  .contact{
    background-image: url("/7.jpg");
    background-size: cover;
    
  }
  .contact-form {
   
  
    margin: 30px 0;
}
.contact-form h1 {
    text-transform: uppercase;
    margin: 0 0 15px;
}
.contact-form .form-control, .contact-form .btn  {
    min-height: 38px;
    border-radius: 2px;
}
.contact-form .btn-primary {
    min-width: 150px;
    background: #299be4;
    border: none;
}
.contact-form .btn-primary:hover {
    background: #1c8cd7; 
}
.contact-form label {
    opacity: 0.9;
}
.contact-form textarea {
    resize: vertical;
}
/* (A) WRAPPER */
.fullwrap {
    position: relative; /* required for (c2) */
    max-width: 500px; /* optional */
  }
  /* (B) RESPONSIVE IMAGE */
.fullwrap img { width: 100%; }
 
/* (C) CAPTION */
.fullcap {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
 
  /* (C2) POSITION */
  position: absolute;
  top: 0; left: 0;
  text-align: center;
  padding-top: 30%;
  /* (C3) COLORS */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
 
/* (D) SHOW/HIDE */
.fullcap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.fullwrap:hover .fullcap {
  visibility: visible; opacity: 1;
}